body { background-color: #FFDDFF;
    background-image: url("b.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    padding: 0px;
    margin: 10px;
    margin-bottom: 0px;

}

a{
    font-size: 2em;
    color: white;
}

a:active, a:hover{
    background-color: crimson;
}

h1 {
    text-align: center;
}
h2 {font-family: arial, verdana, sans-serif;
    text-align: center;
    font-size: 2em;
}

h3 {font-family: "Times New Roman", serif; font-style: italic;
    text-align: center;
}

h4 {text-align: center;
    font-variant: small-caps;}

p {text-align: center;
    font-size: 1.5em;
}

#header{
    background-color: lightcoral;
    color: white;
    display: block;
    width: 730px;
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    border: 5px dotted white;
    font-family: "Arial Black";
    font-size: 2em;
}

#left{
    margin: 10px;
    background-color: rgba(255, 133, 106, 0.65);
    display: block;
    width: 330px;
    padding: 20px;
    border: 5px dashed white;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    float: left;
}

#middle{
    border: 2px;
    border-style: solid;
    border-color: white;
    background-color: lightcoral;
    color: white;
    width: 800px;
    padding: 8px;
    display: block;
    margin: 10px;
    float: left;
}
#left a{
    color: white;
}

#footer{
    display: block;
    border-top: 3px solid white ;
    width: 100%;
    background-color: rgba(255, 133, 106, 0.95);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    float: left;
}

#header h1{
   display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
}


.lapa{
    margin: 40px;
    float: left;
    width: 100px;
    height: 100px;
}
ul{
    list-style-image: url("dog-paw-hi-small2.gif");
}

table{
    border: 2px solid white;
    table-border-color-light: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 25px;
    text-shadow: black;
    color: #FFDDFF;

}